.button {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1.4rem 0;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.button > p {
    margin: 0;
    font-weight: 500;
}

.button:hover{
    background-color: var(--color-tertiary);
}

.button2 {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1.4rem 0;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.button2 > p {
    margin: 0;
    font-weight: 500;
}

.button2:hover{
    background-color: var(--color-tertiary);
}

.button2 {
  /* existing styles */
  cursor: pointer;
}

.button2.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
