/* Css Code for Authentication.jsx */
/* 
.auth {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient( 90deg,
  #ffffff00 0%,
  #1c1c1c91 100%
  ), url('../../../public/3.png');
  display: grid;
  background-size: cover;
  grid-template-columns: repeat(2, 1fr);
} */


.auth {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient( 90deg,
  var(--color-tertiary) 0%,
  var(--color-tertiary) 70%,
  var(--color-purple) 70%,
  var(--color-purple) 100%
  );
  display: grid;
  background-size: cover;
  grid-template-columns: 60% 40%;
  overflow-y: hidden;
}

.authRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.authLeft {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.authFormContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-white);
    width: 80%;
    height: 70%;
    border-radius: 0.4rem;
    box-shadow: 0 10px 200px -101px var(--color-black);
    padding: 2.2rem 4rem;
    margin: 0;
}

.authForm {
  margin: 2rem 0;
}

.marketingContainer {
  min-width: 80%;
  /* padding: 4rem 6rem 0rem 6rem; */
}
.marketingContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}