.pricing_header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image_container {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  justify-content: center;
  padding: 1rem;
  grid-gap: 20rem;
}

.images {
  height: 25rem;
  width: 25rem;
}

.price_details {
  padding: 3rem 15rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
}

.price_details > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.price_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  -webkit-box-shadow: 2px 0px 76px -24px rgba(255, 255, 255, 0.44);
  -moz-box-shadow: 2px 0px 76px -24px rgba(255, 255, 255, 0.419);
  box-shadow: 2px 0px 76px -24px rgba(255, 255, 255, 0.387);
}

.div_header {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.div_data {
  padding: 4rem 3rem;
  text-align: center;
}
.pricing_span {
  color: var(--color-dark-grey);
  font-weight: 500;
}

.div_features {
  background-color: var(--color-grey);
  padding: 3rem 5rem;
  width: 100%;
}

.feature_list {
  list-style: none;
}

.feature_list > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

.middle {
  z-index: 6;
  border: 2px solid var(--color-primary);
  -webkit-box-shadow: 2px 0px 124px -85px rgba(179,167,255,1);
  -moz-box-shadow: 2px 0px 124px -85px rgba(179,167,255,1);
  box-shadow: 2px 0px 124px -85px rgba(179,167,255,1);
}


.pricing_text {
    width: 60%;
}

/* .free{
  text-align: center;
  width: 100px;
} */

@media (max-width: 768px) {
    .price_details {
  padding: 0 3rem;
  display: grid;
  margin-top: 0;
  grid-template-columns: none;
}
.price_div {
  margin: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  -webkit-box-shadow: 2px 0px 76px -24px rgba(255, 255, 255, 0.44);
  -moz-box-shadow: 2px 0px 76px -24px rgba(255, 255, 255, 0.419);
  box-shadow: 2px 0px 76px -24px rgba(255, 255, 255, 0.387);
}
br {
height: 0;
display: none;
}
}
