.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.landingDiv {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 7rem;
}

.landingText {
    margin: 9rem 0 1rem 0;
}

.landingText h1 {
    text-align: center;
}

.landingText h2 {
    text-align: center;
}

.landingPara {
    text-align: center;
    margin: 2rem 0;
    width: 50%;
}

.landingImage {
    max-width: 100%;
    height: auto;
}
