.App {
    background-color: var(--color-purple);
    height: 100vh;
    overflow-y: hidden;
}

.landingDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-white);
    padding: 0rem 7rem;
}

.landingText {
    margin: 9rem 0 1rem 0;
}

.landingText h1{
    color: var(--color-white);
    text-align: center;
}

.landingText h2 {
    color: var(--color-tertiary);
    text-align: center;
}

.landingPara {
    text-align: center;
    margin: 2rem 0;
    width: 50%;
}