/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Variable Declaration */
:root {
  /* Brand Scheme */
  --color-primary: #4C4787;
  --color-tertiary: #b3a7ff;
  --color-secondary: #101010;

  /* Secondary Color */
  --color-white: #ffffff;
  --color-black: #121212;
  --color-grey: #e9e9e9;
  --color-secondary-grey: #f7f7f7;
  --color-dark-grey: #666666;

  /* Helper Color */
  --color-danger: #ff4444;
  --color-warning: #ffbb33;
  --color-success: #00C851;
  --color-info: #33b5e5;

  /* Font Family */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1 Rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-black);
  background-color: var(--color-secondary);
  overflow-x: hidden;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: var(--font-primary);
  letter-spacing: 0px;
  line-height: 1;
  color: var(--color-purple);
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 700;
}

h4 {
  font-size: 3rem;
  font-weight: 800;
}

h5 {
}

h6 {
  font-weight: 600 !important;
}

a {
  /* color: inherit; */
  text-decoration: none;
  color: var(--color-tertiary);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Image Reset */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Form Components */
input,
button,
textarea,
select {
  font: inherit;
}
