/* Margin Helpers */
.m-zero {
    margin: 0rem;
}

.m-small {
    margin: 0.4rem;
}

.m-medium {
    margin: 1.2rem;
}

.m-large {
    margin: 4rem;
}
/* Top Margins */
.mt-zero {
    margin-top: 0rem;
}

.mt-small {
    margin-top: 0.4rem;
}

.mt-medium {
    margin-top: 1.2rem;
}

.mt-large {
    margin-top: 4rem;
}
/* Bottom Margins */
.mb-zero {
    margin-bottom: 0rem;
}

.mb-small {
    margin-bottom: 0.4rem;
}

.mb-medium {
    margin-bottom: 1.2rem;
}

.mb-large {
    margin-bottom: 4rem;
}
/* Left Margins */
.ml-zero {
    margin-left: 0rem;
}

.ml-small {
    margin-left: 0.4rem;
}

.ml-medium {
    margin-left: 1.2rem;
}

.ml-large {
    margin-left: 4rem;
}
/* Right Margins */
.mr-zero {
    margin-right: 0rem;
}

.mr-small {
    margin-right: 0.4rem;
}

.mr-medium {
    margin-right: 1.2rem;
}

.mr-large {
    margin-right: 4rem;
}

/* Color Helpers */

.bg-p {
    background-color: var(--color-primary);
}

.text-p {
    color: var(--color-primary);
}

.bg-sec {
    background-color: var(--color-secondary);
}

.text-sec {
    color: var(--color-secondary);
}

.bg-ter {
    background-color: var(--color-tertiary);
}

.text-ter {
    color: var(--color-tertiary);
}

.bg-white {
    background-color: var(--color-white);
}

.text-white {
    color: var(--color-white);
}

.bg-black {
    background-color: var(--color-black);
}

.text-black {
    color: var(--color-black);
}