.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.promptText{
    width: 96%;
    resize: none;
    height: 59px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    max-height: 330px;
    caret-color: #4671EA;
    border: 1px solid #bfbfbf;
  }
.promptText::placeholder{
    color: #b3b3b3;
  }
.promptText:is(:focus, :valid){
    padding: 14px;
    border: 2px solid #4671EA;
  }
.promptText::-webkit-scrollbar{
    width: 0px;
  }
  .container .influencerIdText{
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    caret-color: #4671EA;
    resize: none;
  }
  .generateBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40%;
  }
  
  .generateBtn:hover {
    background-color: #0056b3;
  }
  
  .container img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }